setxkbmap -layout us,us -variant ,intl -option 'grp:alt_shift_toggle' &
nm-applet &
picom --fade-in-step=1 --fade-out-step=1 --fade-delta=0 &
nitrogen --restore &
redshift-gtk -l 15:-88 &
easyeffects --gapplication-service &
xautolock -time 5 -locker "~/xautolock-suspend.sh" -corners 000- &
flameshot &
battery-advisor &
