# Set up alt+shift to change between US and US with special characters like áéíóú 
# Viva el español mano
setxkbmap -layout us,us -variant ,intl -option 'grp:alt_shift_toggle' &

# Weird stuff to disable some picom fade-ins.
picom --fade-in-step=1 --fade-out-step=1 --fade-delta=0 &

# Yes, you can track me down with these coordinates. Whatever.
redshift-gtk -l 15:-88 &
easyeffects --gapplication-service &

# Set bottom right corner as a position where system won't sleep
xautolock -time 5 -locker "~/xautolock-suspend.sh" -corners 000- &

# Apps + Applets
flameshot &
battery-advisor &
nm-applet &
nitrogen --restore &
